/Leadership Article.aux
/Leadership Article.bbl
/Leadership Article.bcf
/Leadership Article.blg
/Leadership Article.fdb_latexmk
/Leadership Article.fls
/Leadership Article.log
/Leadership Article.out
/Leadership Article.run.xml
/Leadership Article.synctex.gz
/Leadership Article.txss2